* {
    display:flex;
    flex-direction: column;
}
form {
    width: 300px;
    border: 1px solid rgb(185, 142, 225);
    padding: 10px;
    margin:auto;
}
/* .container {
    flex-direction: row;
} */