<header>
  <h3>Home page</h3>
  <nav>
    <ul>
      <li routerLink="/home">Home</li>
      <li routerLink="/cakes">Categories</li>
      <li routerLink="/order">Order</li>
      <li routerLink="/contact">Contact</li>
    </ul>
  </nav>
</header>
<div class="content">
  <router-outlet name="primary"></router-outlet>
  <div style="position: absolute; right:10px;top:120px;">
    <div *ngIf="special" (click)="showPopup()">Today's special</div>
    <div *ngIf="!special" (click)="hidePopup()">X</div>
  </div>
  <app-products></app-products>
  <router-outlet name="specialMenu" id="popup"></router-outlet>
</div>