<form name="custom">
        <label for="">Your full name</label>
        <input type="text">
        <label for="">Email</label>
        <input type="email" name="" id="">
        <label for="">Contact No.</label>
        <input type="tel">
        <label for="">Cake flavour</label>
        <input type="text" name="" id="">
        <label for="">Icing (like chocolate gnash or rainbow)</label>
        <input type="text">
        <label for="">How many cake layers do you want?</label>
        <input type="number">
        <fieldset>
            <legend> Adress to be delivered </legend>
            <label for="">House No./Plot No.</label>
            <input type="text">
            <label for="">Street/Area</label>
            <input type="text">
            <label for="">City/District</label>
            <input type="text">
            <label for="">State</label>
            <input type="text">
            <label for="">Pincode</label>
            <input type="text">
        </fieldset>
        <label for="">Add a refernce image for the cake</label>
        <input type="image" src="" alt="">
        <strong>Note: Custom cake orders need to be placed atleast 7 days before expected delivery date</strong>
        <button (click)="showMessage()">Place order</button>
    </form>
